body{
margin:0;
background:#111;
color:white;
font-family:Arial,sans-serif;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.hero{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h2{
font-size:4rem;
}

.product{
padding:20px;
}

.product img{
width:300px;
max-width:100%;
}
